.hero-umit{
    background-color: transparent;
}
.logo-img {
    float: left;
    margin-top: 16px;
    margin-bottom: 150px;
}

.table {
    float: left;
    margin-left: 36px;
}

.btn-large {
    margin-bottom: 20px;
    margin-left: 26px;
    margin-right: 60px;
}